Checks: 
'-*,
clang-analyzer-*,
readability-*,
modernize-*,

-clang-analyzer-osx*,
-readability-identifier-length,
-readability-braces-around-statements,
-readability-implicit-bool-conversion
'

FormatStyle: 'file'
