.config/zsh/.zhistory
.SteamCloud/
.Xauthority
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/Code/
.config/Dharkael/
.config/GIMP/
.config/TabNine/
.config/aria2/
.config/baidunetdisk/
.config/cache/
.config/cef_user_data/
.config/clash/
.config/coc/
.config/configstore/
.config/dconf/
.config/emelfm2/
.config/fcitx/
.config/google-chrome/
.config/htop/
.config/ibus/
.config/local/
.config/menus/
.config/mimeapps.list
.config/neofetch/
.config/nitrogen/
.config/pavucontrol.ini
.config/pulse/6982d40bff7b1898140255466184f806-card-database.gdbm
.config/pulse/6982d40bff7b1898140255466184f806-default-sink
.config/pulse/6982d40bff7b1898140255466184f806-default-source
.config/pulse/6982d40bff7b1898140255466184f806-device-volumes.gdbm
.config/pulse/6982d40bff7b1898140255466184f806-runtime
.config/pulse/6982d40bff7b1898140255466184f806-stream-volumes.gdbm
.config/pulse/cookie
.config/spacefm/
.config/tint2/
.config/wget/
.config/balena-etcher-electron/
.config/libfm/
.config/pcmanfm/
.moc/
.dbus/
.emacs.d/
.fehbg
.fzf.zsh
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.histfile
.icons/
.lesshst
.local/
.mozilla/
.npm/
.nvidia-settings-rc
.pki/
.pulse-cookie
.python_history
.ssh/
.steam/
.steampath
.steampid
.themes/
.tmux.conf
.vim/
.viminfo
.vscode/
.wget-hsts
.wpa_cli_history
.xmonad/
.zshenv
Downloads/
Picture/
build_tmp/
workspace/
.config/QtProject.conf
.config/ncmpcpp/
.ssr/
.thumbnails/
.config/cmus/
.minecraft/
.thunderbird/
.conan/
.config/kritadisplayrc
.config/kritarc
.ebcache/
.ebrc
.links/
Desktop/
.config/mypaint/
.config/fcitx5/crash.log
.config/autostart
.config/*-nativefier-*
.config/discord/
.config/flameshot/
.ncmpcpp/
.renderdoc/
.config/blender/
.config/unity3d/
.lyrics/
.sys1og.conf
.gdb_history
core
.mbsyncrc
".config/\345\276\256\344\277\241/"
.config/btop/
.config/fcitx5/conf/notifications.conf_57USj6
.config/qutebrowser/
.config/zsh/.zcompdump
.config/icalingua/
.config/Cider/
workspaces/
.yarn/
.yarnrc
.icons
.electron-gyp/


